.dashboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body{
  font-family: 'Inter', sans-serif;
}

html{
  font-size: 62.5%;
}



.tweetsdisplay{
  background-color: white;
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 95vh;
  overflow: scroll;
  align-items: center;
}

p{
  margin: 0;
  padding: 0;
}


/* TWEET BOX STYLES */

.img{
width: 5rem;
height: 5rem;
border-radius: 50%;
border: 1px solid purple;
}

.tweet-box{
  width: 75%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  margin: 2rem;
  gap: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid purple;
  align-items: center;
}

.tweet-box div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid purple;
  width: 90%;
}
.desc {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
  gap: 1rem;
}
.desc span{
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.desc{
  font-size: 1.5rem;
  color: gray;
}

.tweet{
  padding: 1rem;
  font-size: 1.8rem;
  overflow: auto;
}

/* TWEET FORM */
.tweetform{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid purple;
  border-radius: 2rem;
  color: black;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.ops{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tweetform textarea{
  width: 40rem;
  height: 20rem;
  border: 0px;
  font-size: 1.8rem;
  border-radius: 2rem;
  padding: 1rem;
}

.tweetform button{
  width: 100%;
  font-size: 2.5rem;
  background-color: purple;
  border: 0px;
  padding: 1rem;
  color: white;
  font-weight: 600;
  border-radius: 0 0 2rem 2rem;
  cursor: pointer;
}

.ops div:nth-child(2){
  display: flex;
  width: 100%;
  gap: 1rem;
}



.ops div:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  font-size: 6rem;
  height: 5rem;
  cursor: pointer;
}

.app{
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  html{
  font-size: 50%;
}
}

@media only screen and (max-width: 800px) {
  .dashboard{
    margin-top: 3rem;
    flex-direction: column;
  }
  .tweetsdisplay{
    width: 75%;
  }
}